extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg" alt="imagen sobre nosotros" class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo nulla vitae arcu porta, sed ultrices ipsum interdum.
                    Etiam auctor dolor non nunc eleifend, a fermentum leo luctus. Phasellus ut eleifend dolor, eget elementum nisl. Donec quis sollicitudin tellus.
                    Donec porta ex non semper aliquet. Ut porttitor, ex facilisis aliquet pretium, tortor ex tempus est, elementum lobortis neque ligula sit amet urna.
                    Donec euismod ipsum tincidunt metus mollis, eu vehicula felis pulvinar. Nulla tincidunt ipsum magna, ac consectetur nunc tempus id.
                    Curabitur finibus magna ac posuere iaculis.

                p Donec ut mollis elit. Pellentesque non justo diam. Curabitur porta mollis erat, a semper mauris tincidunt in. Etiam egestas venenatis odio.
                    Sed laoreet egestas purus, ac varius mauris. In ante elit, scelerisque non augue in, pellentesque suscipit libero. Donec volutpat eget urna ac suscipit.
                    Vestibulum sit amet risus nec mauris ullamcorper ultricies. Duis non lacus sit amet odio pulvinar posuere. In purus mauris, pulvinar a sapien euismod, aliquam vulputate velit.

                p Fusce ipsum ex, accumsan in nibh in, auctor sollicitudin nisl. Aenean sem sem, sagittis vitae placerat ut, molestie nec felis.
                    Donec efficitur, turpis nec placerat consectetur, tortor leo dignissim dui, eu convallis lacus lectus mollis nisl. Etiam maximus iaculis velit nec posuere.
                    Etiam sed vestibulum mi. Sed at molestie est, sit amet interdum turpis. Donec in risus ex. Nullam ac lacinia risus. Vivamus quis libero non arcu vestibulum vulputate at vel mi.
                    Praesent dolor erat, sodales nec bibendum nec, egestas at ligula. Curabitur in diam vitae ante rhoncus hendrerit at a ex. Sed aliquet posuere diam.
                    Aliquam massa felis, tempus et lectus ac, consectetur efficitur tortor. Nullam sit amet convallis felis.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Praesent dolor erat, sodales nec bibendum nec, egestas at ligula. Curabitur in diam vitae ante rhoncus hendrerit at a ex. Sed aliquet posuere diam.
                        Aliquam massa felis, tempus et lectus ac, consectetur efficitur tortor. Sed at molestie est, sit amet interdum turpis. Donec in risus ex. Nullam ac lacinia risus.
                        Vivamus quis libero non arcu vestibulum vulputate at vel mi.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Praesent dolor erat, sodales nec bibendum nec, egestas at ligula. Curabitur in diam vitae ante rhoncus hendrerit at a ex. Sed aliquet posuere diam.
                        Aliquam massa felis, tempus et lectus ac, consectetur efficitur tortor. Sed at molestie est, sit amet interdum turpis. Donec in risus ex. Nullam ac lacinia risus.
                        Vivamus quis libero non arcu vestibulum vulputate at vel mi.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Praesent dolor erat, sodales nec bibendum nec, egestas at ligula. Curabitur in diam vitae ante rhoncus hendrerit at a ex. Sed aliquet posuere diam.
                        Aliquam massa felis, tempus et lectus ac, consectetur efficitur tortor. Sed at molestie est, sit amet interdum turpis. Donec in risus ex. Nullam ac lacinia risus.
                        Vivamus quis libero non arcu vestibulum vulputate at vel mi.